<%- include('./partials/header'); %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>Voici la liste des Adhérents </h2>
    <a href="createadherent/?token=<%= token  %>"><button class="ui secondary basic button" style="padding: 5px;display: flex; align-items: center;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:30px;height: 30px;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
        Ajoutez un adherent
  </button></a>
</div>

  <table class="ui five column table">
    <thead>

      <tr>
        <th>Nom</th>
        <th>E-mail</th>
        <th>Adresse Postale</th>
        <th>Téléphone</th>
        <th>Type abonnement</th>
      </tr>

    </thead>
    <tbody>
      <% adherent.forEach(function(adherent) { %>

        <tr>
          <td>
            <%= adherent.name %> <%= adherent.firstname %>
            <button _msttexthash="180024" _msthash="280" onclick="deleteAdherent('<%= adherent.id %>')"> Supprimer </button>
          </td> 


          <td>
            <%= adherent.email %>
            <button _msttexthash="180024" _msthash="280" onclick="updateAdherent('<%= adherent.id %>')"> Modifier </button>
          </td>


          <td>
            <%= adherent.address %>
          </td>


          <td>
            <%= adherent.telephone %>
          </td>

          <td>
            <%= adherent.subscription %>
          </td>

        </tr>
        <% }); %>
    </tbody>
  </table>

<footer>
    <%- include('./partials/footer'); %>
</footer>

<script>
  function deleteAdherent(Id) {
    axios.delete('/adherent/' + Id+"/?token=<%= token  %>",{
      headers: {
        'Authorization': `Bearer ${localStorage.getItem("token")}`
        }
        })
    .then(response => {
      console.log(response);
      location.reload()
    })
    .catch(error => {
      console.error("there was an error!", error)
    })
  }

  function updateAdherent(id) {
    location = ('/createadherent/' +id+"/?token=<%= token  %>")
  }
</script>